<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2021 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="MATLAB" xsi:noNamespaceSchemaLocation="../../../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ErrorLoadingSettingsGroupInfo"> Settings 그룹을 불러올 수 없습니다.</entry>
    <entry key="ErrorLoadingSettingInfo"> 설정을 불러올 수 없습니다.</entry>
    <entry key="ErrorFuncReturnsUnsupportedSettingsType"> ''{1}''. ''{0}''이(가) 유효하지 않은 Settings 유형을 반환합니다.</entry>
    <entry key="ErrorConvertingSettingValue">Setting ''{0}''에 대한 값을 변환할 수 없습니다.</entry>
    <entry key="ErrorConvertingUnsupportedType"> Setting ''{0}''에 유효하지 않은 데이터형입니다.</entry>
    <entry key="InvalidSettingsPath"> ''{0}''에 Setting 또는 Settings 그룹이 존재하지 않습니다.</entry>
    <entry key="ErrorCreatingSettingsTree">Settings 트리를 만들 수 없습니다.</entry>
    <entry key="VersionNumberUndefined">제품 ''{0}''에 버전 번호가 아직 정의되어 있지 않습니다.</entry>
    <entry key="VersionNumberIsNotPositiveInteger">버전 번호는 양의 정수여야 합니다.</entry>
    <entry key="InvalidSettingsName">''{0}''은(는) 유효하지 않은 Settings 그룹 또는 Setting 이름입니다.</entry>
    <entry key="InvalidFunctionHandle">입력 함수는 유효한 MATLAB 함수 핸들이어야 합니다.</entry>
    <entry key="NotASupportedFunctionHandleType">Setting에 대한 유효하지 않은 함수 핸들입니다.</entry>
    <entry key="InvalidSettingsGroupObject">Settings 그룹이 존재하지 않습니다.</entry>
    <entry key="NoSuchProduct">Settings 그룹 ''{0}''이(가) 존재하지 않습니다.</entry>
    <entry key="NoSuchSettingInSettingsTree">''{0}''은(는) 유효한 설정이 아닙니다.</entry>
    <entry key="ReadOnlySettingMustSpecifyPersonalValue"> 읽기 전용 Setting ''{0}''을(를) 만들 수 없습니다. 개인 값을 지정하십시오.</entry>
    <entry key="SpecifyingFactoryValueNotSupportedForCustomSettings"> 사용자 지정 Settings에 대해서는 공장 출하값을 지정할 수 없습니다. ''PersonalValue''를 대신 지정하십시오.</entry>
    <entry key="ValueMustBeScalarLogical"> ''{0}'' 값은 논리형 스칼라 값이어야 합니다.</entry>
    <entry key="NameMustBeValidMatlabIdentifier"> {0}의 이름은 유효한 MATLAB 식별자여야 합니다.</entry>
    <entry key="CannotAddSettingToRoot">Setting ''{0}''을(를) 추가할 수 없습니다. Settings 루트는 제품 Settings 그룹만 포함합니다.</entry>
    <entry key="CannotChangeValueForReadOnlySetting"> 읽기 전용 Setting의 값을 변경할 수 없습니다. </entry>
    <entry key="ErrorExportMultipleGroupsBelongToDiffProducts">제품 ''{0}''과(와) ''{1}''을(를) 내보낼 수 없습니다. 제품은 같은 제품 Settings 그룹에 속해야 합니다. </entry>
    <entry key="ErrorExportOrImportSettingsUsingRelativePath">export 함수나 import 함수에는 전체 파일 경로를 입력해야 합니다. ''{0}''은(는) 상대 경로입니다. </entry>
    <entry key="NoSuchSetting">Settings 그룹 ''{0}''에 Setting ''{1}''이(가) 포함되어 있지 않습니다.</entry>
    <entry key="NoSuchSettingsGroup">Settings 그룹 ''{0}''에 Settings 그룹 ''{1}''이(가) 포함되어 있지 않습니다.</entry>
    <entry key="NotASettingName">Settings 그룹 ''{0}''에 Setting ''{1}''이(가) 포함되어 있지 않습니다. ''{1}''은(는) Settings 그룹입니다.</entry>
    <entry key="NotASettingGroupName">Settings 그룹 ''{0}''에 Settings 그룹 ''{1}''이(가) 포함되어 있지 않습니다. ''{1}''은(는) Setting입니다.</entry>
    <entry key="CannotMergeWithSettingsRoot">Settings 루트와 병합할 수 없습니다. </entry>
    <entry key="ErrorMergingGroupWithAncestorGroup">Settings 트리에 선조 ''{0}''이(가) 있는 Settings 그룹 ''{1}''을(를) 병합할 수 없습니다.</entry>
    <entry key="CanOnlyMergeWithStandaloneSettingsGroup">Settings 그룹 ''{0}''이(가) 이미 Settings 트리에 연결되어 있으므로 이 그룹을 Settings 트리에 병합할 수 없습니다.</entry>
    <entry key="CannotExportSettingsRoot">루트 Settings 그룹을 내보낼 수 없습니다.</entry>
    <entry key="CannotExportStandaloneSettings">exportSettings는 Settings 트리에 속해 있는 Settings 그룹을 내보내는 데만 사용할 수 있습니다. </entry>
    <entry key="UnsupportedLevel">수준 ''{0}''이(가) 유효하지 않습니다. 지원되는 수준은 ''{1}''입니다. </entry>
    <entry key="ErrorMergingGroupWithDiffAttr">Settings 그룹 ''{0}''과(와) ''{1}''을(를) 병합할 수 없습니다. 그룹의 이름은 같지만 ''{2}'' 특성(Attribute)의 값은 다릅니다.</entry>
    <entry key="ProductGroupAlreadyExists">제품 Settings 그룹 ''{0}''을(를) 추가할 수 없습니다. 제품 Settings 그룹 ''{1}''이(가) 이미 존재합니다. 제품 Settings 그룹의 이름은 서로 달라야 하며, 대/소문자를 구분하지 않습니다. </entry>
    <entry key="SettingsGroupWithSameNameAlreadyExists">Settings 그룹 ''{0}''이(가) 이미 존재합니다.</entry>
    <entry key="ErrorOpeningFileForWrite">Settings 파일 ''{0}''을(를) 열 수 없습니다.</entry>
    <entry key="FactoryGroupsAndSettingsCannotBeRemoved">사용자 지정 Settings 그룹과 사용자 지정 Settings만 제거할 수 있습니다.</entry>
    <entry key="ErrorMigratePrefsBetweenReleases">릴리스 {0}에서 릴리스 {1}(으)로 기본 설정을 마이그레이션할 수 없습니다.</entry>
    <entry key="ErrorReadingSettingsData">Settings 데이터를 읽을 수 없습니다. {0}.</entry>
    <entry key="ErrorLoadingLibrary">라이브러리 ''{0}''을(를) 불러올 수 없습니다. {1}.</entry>
    <entry key="ErrorInvokingRuntimeFunction"> Settings 데이터를 쿼리할 수 없습니다. ''{1}''.''{0}''을(를) 불러오지 못했습니다. {2}.</entry>
    <entry key="ErrorValidateSettingsValue">Settings 데이터의 유효성을 검사할 수 없습니다. {0}</entry>
    <entry key="UnexpectedException">Settings를 처리하는 중 예기치 않은 예외가 발생했습니다.</entry>
    <entry key="InvalidSettingOrGroupName">Settings 그룹 ''{0}''에 이름이 ''{1}''인 Setting 또는 Settings 그룹이 포함되어 있지 않습니다.</entry>
    <entry key="ErrorAddingProductSettingsGroup">Settings group ''{0}'' already exists. Settings group names that vary only by case are not supported in the root settings group.</entry>
    <entry key="GroupOrSettingNameAlreadyExists">Settings 그룹 ''{0}''에 Setting 또는 Settings 그룹 ''{1}''이(가) 이미 포함되어 있습니다.</entry>
    <entry key="ErrorInvokingValidationFunction">모듈 또는 패키지 ''{1}''에서 유효성 검사(Validation) 함수 ''{0}''을(를) 불러올 수 없습니다. {2}.</entry>
    <entry key="UndefinedSettingValueForLevel"> {1} 수준에서 Setting ''{0}''에 대해 설정된 값이 없습니다.</entry>
    <entry key="SettingHasNoValue">설정 ''{0}''에 값이 없습니다.</entry>
    <entry key="CantReloadFactoryFile">툴박스 ''{0}''은(는) resources 폴더 내 settingsInfo.json 파일이 있는 경로에 있어야 합니다.</entry>
    <entry key="MissingToolboxGroupName">''{0}/settingsInfo.json''에 ToolboxGroupName 항목이 누락되었습니다.</entry>
    <entry key="InvalidJSON">''{0}/settingsInfo.json''의 JSON 텍스트가 유효하지 않습니다.</entry>
    <entry key="RequiredFieldMissing">''{0}/settingsInfo.json''에 필수 필드가 누락되었습니다.</entry>
    <entry key="ErrorSettingValue">그룹 ''{1}''에 ''{0}''을(를) 설정하는 중 오류가 발생함: {2}</entry>
    <entry key="MustBeScalar">값은 스칼라여야 합니다.</entry>
    <entry key="MustBeLogical">값은 논리형이거나 논리형으로 변환될 수 있어야 합니다.</entry>
    <entry key="MustBeString">값은 string형이거나 string형으로 변환될 수 있어야 합니다.</entry>
    <entry key="ToolboxGroupNameMismatch">''{0}/settingsInfo.json''의 'ToolboxGroupName' 값은 matlab.settings.FactoryGroup.createToolboxGroup의 이름 인수와 일치해야 합니다.</entry>
    <entry key="ToolboxGroupVisibilityMismatch">''{0}/settingsInfo.json''의 'Hidden' 값은 matlab.settings.FactoryGroup.createToolboxGroup의 숨겨진 인수와 일치해야 합니다.</entry>
    <entry key="EmptyToolboxName"> 함수 ''{0}''에서 툴박스 이름은 비어 있을 수 없습니다.</entry>
    <entry key="FactoryGroupAlreadyExists">이름이 ''{0}''인 공장 초기값 그룹이 이미 존재합니다.</entry>
    <entry key="FactorySettingAlreadyExists">이름이 ''{0}''인 공장 초기값 설정이 이미 존재합니다.</entry>
    <entry key="ArgumentFailedValidation"> 유효한 MATLAB 식별자가 아닙니다.</entry>
    <entry key="InvalidFilePath"> 파일 경로 ''{0}''을(를) 찾을 수 없습니다.</entry>
    <entry key="IllegalFilePath"> 파일 경로 ''{0}''이(가) 적절하지 않습니다.</entry>
    <entry key="PathNotRelativeToMasterFile"> ''{0}''은(는) 유효한 경로가 아니므로 새 그룹을 추가할 수 없습니다. 유효한 경로는 마스터 설정 파일에 상대적이어야 하며 폴더 이름 간에 ".."를 포함할 수 없습니다.</entry>
    <entry key="ExpectedNonEmptyValue"> FactoryValue 함수가 정의되어 있지 않은 경우 'Value' 속성은 비어 있을 수 없습니다.</entry>
    <entry key="NoWritePermissionOnFactoryFile"> 공장 초기값 설정 파일 ''{0}''에 대한 쓰기 권한이 없습니다.</entry>
    <entry key="NoWritePermissionOnFilePath"> 경로 ''{0}''에 대한 쓰기 권한이 없습니다.</entry>
    <entry key="ParameterMustBeString">함수 ''{1}''의 ''{0}'' 파라미터는 string형이어야 합니다.</entry>
    <entry key="PathMustBeStringOrChar">{0} 경로는 string형 또는 문자형 벡터여야 합니다.</entry>
    <entry key="ParameterMustBeFunctionHandle">함수 ''{1}''의 ''{0}'' 파라미터는 함수 핸들이어야 합니다.</entry>
    <entry key="ParameterMustBeFactoryGroup">함수 ''{1}''의 ''{0}'' 파라미터는 공장 초기값 그룹이어야 합니다.</entry>
    <entry key="ParameterMustBeSettingsFileUpgrader">함수 ''{1}''의 ''{0}'' 파라미터는 설정 파일 업그레이더여야 합니다.</entry>
    <entry key="FactoryValueSpecifiedTwice">설정 ''{0}''에 대해 공장 초기값과 공장 초기값 함수가 이미 지정되었습니다.</entry>
    <entry key="FactoryGroupNameNotSpecified">공장 초기값 그룹을 생성하려면 이름을 지정해야 합니다.</entry>
    <entry key="UnsupportedLanguage">지원되는 언어는 MATLAB, C 및 Java입니다.</entry>
    <entry key="IllegalFunctionName">FunctionDescriptor의 함수 이름 인수가 부적절합니다.</entry>
    <entry key="IllegalLibraryName">FunctionDescriptor의 라이브러리 이름 인수가 부적절합니다.</entry>
    <entry key="InvalidPersonalSettingsVersion">툴박스의 개인 설정 트리 버전 ''{0}''이(가) 무효화되었습니다.</entry>
    <entry key="FactoryTreeDoesNotExist">툴박스 설정 업그레이드에 실패했습니다. ''{0}'' 툴박스에 대한 공장 초기값 설정을 불러올 수 없습니다.</entry>
    <entry key="FactoryTreeChangesAreEmpty">툴박스 설정 업그레이드에 실패했습니다. ''{0}'' 툴박스에 대한 공장 초기화 변경 내용을 불러올 수 없습니다.</entry>
    <entry key="LogFilesAreNotAccessible"> 툴박스 ''{0}'' 버전 ''{1}''에 대한 로그 파일을 찾을 수 없습니다.</entry>
    <entry key="InvalidLogOfResults"> 로그 파일 ''{0}''을(를) 읽을 수 없습니다. 파일 내용의 형식이 잘못되었습니다.</entry>
    <entry key="ErrorCreateFactoryFileFromSettingsGroupOnTheTree">CreateFactorySettingsFile function should only be used to create a new factory file. The settings group ''{0}'' already exists.</entry>
    <entry key="UnknownExceptions"> {0}.</entry>
  </message>
</rsccat>
