<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2021 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="zh_CN" product="MATLAB" xsi:noNamespaceSchemaLocation="../../../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ErrorLoadingSettingsGroupInfo"> 无法加载 settings 组。</entry>
    <entry key="ErrorLoadingSettingInfo"> 无法加载设置。</entry>
    <entry key="ErrorFuncReturnsUnsupportedSettingsType"> ''{1}''。''{0}'' 返回了无效的 settings 类型。</entry>
    <entry key="ErrorConvertingSettingValue">无法转换 setting ''{0}'' 的值。</entry>
    <entry key="ErrorConvertingUnsupportedType"> setting ''{0}'' 的数据类型无效。</entry>
    <entry key="InvalidSettingsPath"> ''{0}'' 中不存在 setting 或 settings 组。</entry>
    <entry key="ErrorCreatingSettingsTree">无法创建 settings 树。</entry>
    <entry key="VersionNumberUndefined">尚未定义产品 ''{0}'' 的版本号。</entry>
    <entry key="VersionNumberIsNotPositiveInteger">版本号必须为正整数。</entry>
    <entry key="InvalidSettingsName">''{0}'' 为无效的 settings 组或 setting 名称。</entry>
    <entry key="InvalidFunctionHandle">输入函数必须为有效的 MATLAB 函数句柄。</entry>
    <entry key="NotASupportedFunctionHandleType">setting 的函数句柄无效。</entry>
    <entry key="InvalidSettingsGroupObject">settings 组不存在。</entry>
    <entry key="NoSuchProduct">settings 组 ''{0}'' 不存在。</entry>
    <entry key="NoSuchSettingInSettingsTree">"{0}" 不是有效设置。</entry>
    <entry key="ReadOnlySettingMustSpecifyPersonalValue"> 无法创建只读 setting ''{0}''。请指定 Personal Value。</entry>
    <entry key="SpecifyingFactoryValueNotSupportedForCustomSettings"> 自定义设置不支持指定出厂值。请改为指定 ''PersonalValue''。</entry>
    <entry key="ValueMustBeScalarLogical"> ''{0}'' 值必须为标量逻辑值。</entry>
    <entry key="NameMustBeValidMatlabIdentifier"> {0} 的名称必须为有效的 MATLAB 标识符。</entry>
    <entry key="CannotAddSettingToRoot">无法添加 setting ''{0}''。settings 根仅包含产品 settings 组。</entry>
    <entry key="CannotChangeValueForReadOnlySetting"> 无法更改只读 setting 的值。 </entry>
    <entry key="ErrorExportMultipleGroupsBelongToDiffProducts">无法导出产品 ''{0}'' 和 ''{1}''。产品必须属于同一产品 settings 组。 </entry>
    <entry key="ErrorExportOrImportSettingsUsingRelativePath">导出或导入函数只能接受完整文件路径。''{0}'' 是相对路径。 </entry>
    <entry key="NoSuchSetting">Settings 组 ''{0}'' 不包含 Setting ''{1}''。</entry>
    <entry key="NoSuchSettingsGroup">Settings 组 ''{0}'' 不包含 Settings 组 ''{1}''。</entry>
    <entry key="NotASettingName">settings 组 ''{0}'' 不包含 setting ''{1}''。''{1}'' 是一个 settings 组。</entry>
    <entry key="NotASettingGroupName">settings 组 ''{0}'' 不包含 settings 组 ''{1}''。''{1}'' 是一个 setting。</entry>
    <entry key="CannotMergeWithSettingsRoot">无法与 settings 根合并。 </entry>
    <entry key="ErrorMergingGroupWithAncestorGroup">无法在 settings 树中将 settings 组 ''{1}'' 与其前代 ''{0}'' 合并。</entry>
    <entry key="CanOnlyMergeWithStandaloneSettingsGroup">无法将 settings 组 ''{0}'' 合并到 settings 树中，因为它已连接到 settings 树。</entry>
    <entry key="CannotExportSettingsRoot">无法导出根 settings 组。</entry>
    <entry key="CannotExportStandaloneSettings">只能使用 exportSettings 导出属于 Settings 树的这些 Settings 组。 </entry>
    <entry key="UnsupportedLevel">级别 ''{0}'' 无效。支持的级别为 ''{1}''。 </entry>
    <entry key="ErrorMergingGroupWithDiffAttr">无法合并 settings 组 ''{0}'' 和 ''{1}''。组具有相同的名称，但 ''{2}'' 属性的值不同。</entry>
    <entry key="ProductGroupAlreadyExists">无法添加产品 settings 组 ''{0}''。产品 settings 组 ''{1}'' 已存在。产品 settings 组必须具有不同的名称，其名称不能仅大小写不同。 </entry>
    <entry key="SettingsGroupWithSameNameAlreadyExists">settings 组 ''{0}'' 已存在。</entry>
    <entry key="ErrorOpeningFileForWrite">无法打开 settings 文件 ''{0}''。</entry>
    <entry key="FactoryGroupsAndSettingsCannotBeRemoved">只能删除自定义设置组和自定义设置。</entry>
    <entry key="ErrorMigratePrefsBetweenReleases">无法将版本 {0} 中的预设迁移到版本 {1}。</entry>
    <entry key="ErrorReadingSettingsData">无法读取 settings 数据。{0}。</entry>
    <entry key="ErrorLoadingLibrary">无法加载库 ''{0}''。{1}。</entry>
    <entry key="ErrorInvokingRuntimeFunction"> 无法查询 settings 数据。正在调用 ''{1}''。''{0}'' 失败。{2}。</entry>
    <entry key="ErrorValidateSettingsValue">无法验证 settings 数据。{0}</entry>
    <entry key="UnexpectedException">处理 Settings 时出现意外的异常。</entry>
    <entry key="InvalidSettingOrGroupName">Settings 组 ''{0}'' 不包含名为 ''{1}'' 的 Setting 或 Settings 组。</entry>
    <entry key="ErrorAddingProductSettingsGroup">Settings group ''{0}'' already exists. Settings group names that vary only by case are not supported in the root settings group.</entry>
    <entry key="GroupOrSettingNameAlreadyExists">Settings 组 ''{0}'' 已包含一个名为 ''{1}'' 的 Setting 或 Settings 组。</entry>
    <entry key="ErrorInvokingValidationFunction">无法调用模块或包 ''{1}'' 中的验证函数 ''{0}''。{2}。</entry>
    <entry key="UndefinedSettingValueForLevel"> 未在 {1} 级别为 setting ''{0}'' 设置值。</entry>
    <entry key="SettingHasNoValue">设置 ''{0}'' 没有值。</entry>
    <entry key="CantReloadFactoryFile">工具箱 ''{0}'' 必须位于资源文件夹中具有 settingsInfo.json 文件的路径上。</entry>
    <entry key="MissingToolboxGroupName">''{0}/settingsInfo.json'' 中缺失 ToolboxGroupName 条目。</entry>
    <entry key="InvalidJSON">''{0}/settingsInfo.json'' 中的 JSON 文本无效。</entry>
    <entry key="RequiredFieldMissing">''{0}/settingsInfo.json'' 中缺失必填字段。</entry>
    <entry key="ErrorSettingValue">在组 ''{1}'' 中设置 ''{0}'' 时出错: {2}</entry>
    <entry key="MustBeScalar">值必须为标量。</entry>
    <entry key="MustBeLogical">值必须为逻辑值或可转换为逻辑值。</entry>
    <entry key="MustBeString">值必须为字符串或可转换为字符串。</entry>
    <entry key="ToolboxGroupNameMismatch">''{0}/settingsInfo.json'' 中的 'ToolboxGroupName' 值必须与 matlab.settings.FactoryGroup.createToolboxGroup 中的名称参数匹配。</entry>
    <entry key="ToolboxGroupVisibilityMismatch">''{0}/settingsInfo.json'' 中的 'Hidden' 值必须与 matlab.settings.FactoryGroup.createToolboxGroup 中的隐藏参数匹配。</entry>
    <entry key="EmptyToolboxName"> 函数 ''{0}'' 中的工具箱名称不能为空。</entry>
    <entry key="FactoryGroupAlreadyExists">名为 ''{0}'' 的出厂组已存在。</entry>
    <entry key="FactorySettingAlreadyExists">名为 ''{0}'' 的出厂设置已存在。</entry>
    <entry key="ArgumentFailedValidation"> 不是有效的 MATLAB 标识符。</entry>
    <entry key="InvalidFilePath"> 找不到文件路径 ''{0}''。</entry>
    <entry key="IllegalFilePath"> 文件路径 ''{0}'' 非法。</entry>
    <entry key="PathNotRelativeToMasterFile"> ''{0}'' 是无效路径，无法添加新组。路径需为相对于主 settings 文件的相对路径，且不能在文件夹名称之间包含 ".."。</entry>
    <entry key="ExpectedNonEmptyValue"> 如果未定义 FactoryValue 函数，则 'Value' 属性不能为空。</entry>
    <entry key="NoWritePermissionOnFactoryFile"> 对出厂设置文件 ''{0}'' 没有写入权限。</entry>
    <entry key="NoWritePermissionOnFilePath"> 对路径 ''{0}'' 没有写入权限。</entry>
    <entry key="ParameterMustBeString">函数 ''{1}'' 的 ''{0}'' 参数必须为字符串。</entry>
    <entry key="PathMustBeStringOrChar">{0} 路径必须为字符串或字符向量。</entry>
    <entry key="ParameterMustBeFunctionHandle">函数 ''{1}'' 的 ''{0}'' 参数必须为函数句柄。</entry>
    <entry key="ParameterMustBeFactoryGroup">函数 ''{1}'' 的 ''{0}'' 参数必须为出厂组。</entry>
    <entry key="ParameterMustBeSettingsFileUpgrader">函数 ''{1}'' 的 ''{0}'' 参数必须为设置文件升级程序。</entry>
    <entry key="FactoryValueSpecifiedTwice">为 setting ''{0}'' 同时指定了出厂值和出厂值函数。</entry>
    <entry key="FactoryGroupNameNotSpecified">没有名称，无法创建出厂组。</entry>
    <entry key="UnsupportedLanguage">支持的语言有 MATLAB、C 和 Java。</entry>
    <entry key="IllegalFunctionName">FunctionDescriptor 中存在非法的函数名称参数。</entry>
    <entry key="IllegalLibraryName">FunctionDescriptor 中存在非法的库名称参数。</entry>
    <entry key="InvalidPersonalSettingsVersion">工具箱 ''{0}'' 的个人设置树版本已无效。</entry>
    <entry key="FactoryTreeDoesNotExist">工具箱设置升级失败。无法加载 ''{0}'' 工具箱的出厂设置。</entry>
    <entry key="FactoryTreeChangesAreEmpty">工具箱设置升级失败。无法加载 ''{0}'' 工具箱的出厂更改。</entry>
    <entry key="LogFilesAreNotAccessible"> 找不到工具箱 ''{0}'' 版本 ''{1}'' 的日志文件。</entry>
    <entry key="InvalidLogOfResults"> 无法读取日志文件 ''{0}''。文件内容格式不正确。</entry>
    <entry key="ErrorCreateFactoryFileFromSettingsGroupOnTheTree">CreateFactorySettingsFile function should only be used to create a new factory file. The settings group ''{0}'' already exists.</entry>
    <entry key="UnknownExceptions"> {0}.</entry>
  </message>
</rsccat>
