<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2021 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ko_KR" product="MATLAB" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="CannotContinuePrinting">삭제된 객체의 속성 출력을 계속할 수 없음</entry>
    <entry key="CannotResolveObjectType">디폴트 속성 ''{0}''에서 객체 유형을 확인할 수 없음</entry>
    <entry key="CanOnlyQueryOnRoot">공장 초기값 속성은 루트 객체에 대해서만 쿼리할 수 있음</entry>
    <entry key="InvalidPropertyFound">유효하지 않은 속성이 발견되었습니다.</entry>
    <entry key="AmbiguousPropertyFound">모호한 속성이 발견되었습니다.</entry>
    <entry key="InvalidDefaultPropertyFor">다음에 대한 유효하지 않은 디폴트 속성임:</entry>
  </message>
</rsccat>
