<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2021 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="MATLAB" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="CannotContinuePrinting">削除されたオブジェクトのプロパティの印刷を続けることはできません</entry>
    <entry key="CannotResolveObjectType">既定のプロパティ ''{0}'' 内のオブジェクト タイプを関連付けられません</entry>
    <entry key="CanOnlyQueryOnRoot">Factory プロパティはルート オブジェクト上の検索のみ可能です</entry>
    <entry key="InvalidPropertyFound">無効なプロパティが見つかりました。</entry>
    <entry key="AmbiguousPropertyFound">あいまいなプロパティが見つかりました。</entry>
    <entry key="InvalidDefaultPropertyFor">無効な既定のプロパティ: </entry>
  </message>
</rsccat>
