<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2021 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="MATLAB" xsi:noNamespaceSchemaLocation="../../../../resources/schema/msgcat.xsd">
  <message>
    <entry key="ErrorLoadingSettingsGroupInfo"> Settings グループを読み込むことができません。</entry>
    <entry key="ErrorLoadingSettingInfo"> 設定を読み込むことができません。</entry>
    <entry key="ErrorFuncReturnsUnsupportedSettingsType"> ''{1}''.''{0}'' は、無効な Settings 型を返します。</entry>
    <entry key="ErrorConvertingSettingValue">設定 ''{0}'' の値を変換できません。</entry>
    <entry key="ErrorConvertingUnsupportedType">設定 ''{0}'' で無効なデータ型です。</entry>
    <entry key="InvalidSettingsPath"> 設定または Settings グループが ''{0}'' に存在していません。</entry>
    <entry key="ErrorCreatingSettingsTree">Settings ツリーを作成できません。</entry>
    <entry key="VersionNumberUndefined">製品 ''{0}'' にはバージョン番号がまだ指定されていません。</entry>
    <entry key="VersionNumberIsNotPositiveInteger">バージョン番号は正の整数でなければなりません。</entry>
    <entry key="InvalidSettingsName">''{0}'' は無効な Settings グループまたは設定名です。</entry>
    <entry key="InvalidFunctionHandle">入力関数は、有効な MATLAB 関数ハンドルでなければなりません。</entry>
    <entry key="NotASupportedFunctionHandleType">設定の関数ハンドルが無効です。</entry>
    <entry key="InvalidSettingsGroupObject">Settings グループが存在しません。</entry>
    <entry key="NoSuchProduct">Settings グループ ''{0}'' は存在しません。</entry>
    <entry key="NoSuchSettingInSettingsTree">''{0}'' は有効な設定ではありません。</entry>
    <entry key="ReadOnlySettingMustSpecifyPersonalValue"> 読み取り専用の設定 ''{0}'' を作成できません。個人用の値を指定してください。</entry>
    <entry key="SpecifyingFactoryValueNotSupportedForCustomSettings"> カスタム設定では出荷時の値の指定はサポートされていません。代わりに ''PersonalValue'' を指定してください。</entry>
    <entry key="ValueMustBeScalarLogical"> ''{0}'' の値はスカラーの logical 値でなければなりません。</entry>
    <entry key="NameMustBeValidMatlabIdentifier"> {0} の名前は有効な MATLAB 識別子でなければなりません。</entry>
    <entry key="CannotAddSettingToRoot">設定 ''{0}'' を追加できません。Settings ルートには製品の Settings グループのみが含まれます。</entry>
    <entry key="CannotChangeValueForReadOnlySetting"> 読み取り専用設定の値を変更できません。 </entry>
    <entry key="ErrorExportMultipleGroupsBelongToDiffProducts">製品 ''{0}'' および ''{1}'' はエクスポートできません。製品は、同じ製品 Settings グループに属していなければなりません。 </entry>
    <entry key="ErrorExportOrImportSettingsUsingRelativePath">エクスポート関数またはインポート関数はファイルの絶対パスのみを受け取ります。''{0}'' は相対パスです。 </entry>
    <entry key="NoSuchSetting">Settings グループ ''{0}'' には設定 ''{1}'' が含まれていません。</entry>
    <entry key="NoSuchSettingsGroup">Settings グループ ''{0}'' には Settings グループ ''{1}'' が含まれていません。</entry>
    <entry key="NotASettingName">Settings グループ ''{0}'' には設定 ''{1}'' が含まれていません。''{1}'' は Settings グループです。</entry>
    <entry key="NotASettingGroupName">Settings グループ ''{0}'' には Settings グループ ''{1}'' が含まれていません。''{1}'' は設定です。</entry>
    <entry key="CannotMergeWithSettingsRoot">Settings ルートとマージできません。 </entry>
    <entry key="ErrorMergingGroupWithAncestorGroup">Settings ツリー上で Settings グループ ''{1}'' をその先祖 ''{0}'' とマージできません。</entry>
    <entry key="CanOnlyMergeWithStandaloneSettingsGroup">Settings グループ ''{0}'' は既に Settings ツリーに接続されているため、Settings ツリーにはマージできません。</entry>
    <entry key="CannotExportSettingsRoot">ルート Settings グループをエクスポートできません。</entry>
    <entry key="CannotExportStandaloneSettings">exportSettings は、Settings ツリーに属する Settings グループをエクスポートする場合にのみ使用します。 </entry>
    <entry key="UnsupportedLevel">レベル ''{0}'' が無効です。サポートされているレベルは ''{1}'' です。 </entry>
    <entry key="ErrorMergingGroupWithDiffAttr">Settings グループ ''{0}'' と ''{1}'' をマージできません。同じ名前をもつグループで、''{2}'' 属性の値が異なっています。</entry>
    <entry key="ProductGroupAlreadyExists">製品の Settings グループ ''{0}'' を追加できません。製品の Settings グループ ''{1}'' は既に存在します。製品の Settings グループは異なる名前をもたなければならず、大文字と小文字だけで区別することはできません。 </entry>
    <entry key="SettingsGroupWithSameNameAlreadyExists">Settings グループ ''{0}'' は既に存在します。</entry>
    <entry key="ErrorOpeningFileForWrite">Settings ファイル ''{0}'' を開くことができません。</entry>
    <entry key="FactoryGroupsAndSettingsCannotBeRemoved">削除できるのはカスタム設定グループとカスタム設定だけです。</entry>
    <entry key="ErrorMigratePrefsBetweenReleases">基本設定をリリース {0} からリリース {1} に移行できません。</entry>
    <entry key="ErrorReadingSettingsData">Settings データを読み込めません。{0}。</entry>
    <entry key="ErrorLoadingLibrary">ライブラリ ''{0}'' を読み込めません。{1}。</entry>
    <entry key="ErrorInvokingRuntimeFunction"> Settings データをクエリできません。''{1}''.''{0}'' の呼び出しに失敗しました。{2}。</entry>
    <entry key="ErrorValidateSettingsValue">Settings データを検証できません。{0}</entry>
    <entry key="UnexpectedException">Settings の処理中に予期しない例外が発生しました。</entry>
    <entry key="InvalidSettingOrGroupName">Settings グループ ''{0}'' に ''{1}'' という名前の設定または Settings グループが含まれていません。</entry>
    <entry key="ErrorAddingProductSettingsGroup">Settings group ''{0}'' already exists. Settings group names that vary only by case are not supported in the root settings group.</entry>
    <entry key="GroupOrSettingNameAlreadyExists">Settings グループ ''{0}'' には、設定または Settings グループ ''{1}'' が既に含まれています。</entry>
    <entry key="ErrorInvokingValidationFunction">モジュールまたはパッケージ ''{1}'' で検証関数 ''{0}'' を呼び出すことができません。{2}。</entry>
    <entry key="UndefinedSettingValueForLevel"> {1} レベルの設定 ''{0}'' に値が設定されていません。</entry>
    <entry key="SettingHasNoValue">設定 ''{0}'' には値がありません。</entry>
    <entry key="CantReloadFactoryFile">ツールボックス ''{0}'' は、resources フォルダー内の settingsInfo.json ファイルと共に、パス上になければなりません。</entry>
    <entry key="MissingToolboxGroupName">''{0}/settingsInfo.json'' に ToolboxGroupName のエントリがありません。</entry>
    <entry key="InvalidJSON">''{0}/settingsInfo.json'' 内の JSON テキストが無効です。</entry>
    <entry key="RequiredFieldMissing">''{0}/settingsInfo.json'' に必須フィールドがありません。</entry>
    <entry key="ErrorSettingValue">グループ ''{1}'' の ''{0}'' の設定中にエラーが発生しました: {2}</entry>
    <entry key="MustBeScalar">値はスカラーでなければなりません。</entry>
    <entry key="MustBeLogical">値は logical であるか、logical に変換可能でなければなりません。</entry>
    <entry key="MustBeString">値は string であるか、string に変換可能でなければなりません。</entry>
    <entry key="ToolboxGroupNameMismatch">''{0}/settingsInfo.json'' の 'ToolboxGroupName' 値は、matlab.settings.FactoryGroup.createToolboxGroup の name 引数と一致していなければなりません。</entry>
    <entry key="ToolboxGroupVisibilityMismatch">''{0}/settingsInfo.json'' の 'Hidden' 値は、matlab.settings.FactoryGroup.createToolboxGroup の hidden 引数と一致していなければなりません。</entry>
    <entry key="EmptyToolboxName"> 関数 ''{0}'' 内のツールボックス名は空にできません。</entry>
    <entry key="FactoryGroupAlreadyExists">''{0}'' という名前の出荷時グループは既に存在します。</entry>
    <entry key="FactorySettingAlreadyExists">''{0}'' という名前の出荷時の設定は既に存在します。</entry>
    <entry key="ArgumentFailedValidation"> 有効な MATLAB 識別子ではありません。</entry>
    <entry key="InvalidFilePath"> ファイル パス ''{0}'' が見つかりません。</entry>
    <entry key="IllegalFilePath"> ファイル パス ''{0}'' は無効です。</entry>
    <entry key="PathNotRelativeToMasterFile"> ''{0}'' は、新たなグループを追加するパスとして無効です。パスはマスター設定ファイルを基準とする必要があり、フォルダー名の間に ".." を含めることはできません。</entry>
    <entry key="ExpectedNonEmptyValue"> 関数 FactoryValue が定義されてない場合、'Value' プロパティを空にはできません。</entry>
    <entry key="NoWritePermissionOnFactoryFile"> 出荷時設定ファイル "{0}" に対する書き込み権限がありません。</entry>
    <entry key="NoWritePermissionOnFilePath"> パス ''{0}'' に対する書き込み権限がありません。</entry>
    <entry key="ParameterMustBeString">関数 ''{1}'' の ''{0}'' パラメーターは string でなければなりません。</entry>
    <entry key="PathMustBeStringOrChar">{0} パスは string または文字ベクトルでなければなりません。</entry>
    <entry key="ParameterMustBeFunctionHandle">関数 ''{1}'' の ''{0}'' パラメーターは関数ハンドルでなければなりません。</entry>
    <entry key="ParameterMustBeFactoryGroup">関数 ''{1}'' の ''{0}'' パラメーターは出荷時グループでなければなりません。</entry>
    <entry key="ParameterMustBeSettingsFileUpgrader">関数 ''{1}'' の ''{0}'' パラメーターは設定ファイル アップグレーダーでなければなりません。</entry>
    <entry key="FactoryValueSpecifiedTwice">出荷時の値と出荷時の値関数の両方が設定 ''{0}'' に対して指定されています。</entry>
    <entry key="FactoryGroupNameNotSpecified">出荷時グループは、名前なしで作成できません。</entry>
    <entry key="UnsupportedLanguage">サポートされる言語は、MATLAB、C、および Java です。</entry>
    <entry key="IllegalFunctionName">FunctionDescriptor に無効な関数名の引数があります。</entry>
    <entry key="IllegalLibraryName">FunctionDescriptor に無効なライブラリ名の引数があります。</entry>
    <entry key="InvalidPersonalSettingsVersion">ツールボックスの個人用設定のツリー バージョン: ''{0}'' は無効になっています。</entry>
    <entry key="FactoryTreeDoesNotExist">ツールボックスの設定のアップグレードに失敗しました。''{0}'' ツールボックスの出荷時の設定を読み込めません。</entry>
    <entry key="FactoryTreeChangesAreEmpty">ツールボックスの設定のアップグレードに失敗しました。''{0}'' ツールボックスの出荷時の変更を読み込めません。</entry>
    <entry key="LogFilesAreNotAccessible"> ツールボックス ''{0}'' バージョン ''{1}'' のログ ファイルが見つかりませんでした。</entry>
    <entry key="InvalidLogOfResults"> ログ ファイル ''{0}'' を読み取れません。ファイルの内容の形式が正しくありません。</entry>
    <entry key="ErrorCreateFactoryFileFromSettingsGroupOnTheTree">CreateFactorySettingsFile function should only be used to create a new factory file. The settings group ''{0}'' already exists.</entry>
    <entry key="UnknownExceptions"> {0}.</entry>
  </message>
</rsccat>
