<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2021 The MathWorks, Inc.-->

<rsccat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" locale="ja_JP" product="MATLAB" xsi:noNamespaceSchemaLocation="../../resources/schema/msgcat.xsd">
  <message>
    <entry key="MENU">メニュー</entry>
    <entry key="NoMenuItemsToChooseFrom">メニュー:選択するメニュー項目がありません。</entry>
    <entry key="SelectionOutOfRangeTryAgain">範囲外の選択です。もう一度試してください。</entry>
  </message>
</rsccat>
